<div class="d-flex flex-column align-items-center w-100 h-100 gap-2 mt-2">

    <ng-container *ngIf="projects$ | async as projects else loading">
        <button *ngFor="let project of projects" type="button"
                class="btn btn-secondary w-75">{{project.name}} – 00:00:00</button>

        <button type="button" class="btn btn-primary w-75"
         (click)="addProject()"><fa-icon [icon]="faCirclePlus"></fa-icon></button>

    </ng-container>

</div>

<ng-template #loading>
    <div class="spinner-border text-primary" role="status"></div>
</ng-template>